@import "tailwindcss";

@theme {
  --color-archlens-50: #ecfdf5;
  --color-archlens-100: #d1fae5;
  --color-archlens-200: #a7f3d0;
  --color-archlens-300: #6ee7b7;
  --color-archlens-400: #34d399;
  --color-archlens-500: #10b981;
  --color-archlens-600: #059669;
  --color-archlens-700: #047857;
  --color-archlens-800: #065f46;
  --color-archlens-900: #064e3b;
}
